<nav class="nav">
    <h1 routerLink="/">Book Reviewer</h1>
    <div class="nav-search">
        <input type="text" placeholder="Search for Book" />
        <button>Search</button>
    </div>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/books">Book Add</a></li>
        <li><a routerLink="/contactus">Contact Us</a></li>
        <li><a routerLink="/login">login</a></li>
        <li><a routerLink="/admin">Admin</a></li>

    </ul>
</nav>