<app-header> </app-header>

<div class="userupdate-container">
    <h2>Update User</h2>
    <!-- <form (submit)="submitForm()"> -->
    <form>
        <div class="form-group">
            <label for="Bookname">UserName</label>
            <input type="text" id="Bookname" name="Bookname">

        </div>

        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input type="text" id="FirstName" name="FirstName">

        </div>

        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input type="text" id="LastName" name="LastName">

        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" id="Email" name="Email">

        </div>

        <div class="form-group">
            <label for="PhoneNumber">PhoneNumber</label>
            <input type="tel" id="Phone" name="Phone">

        </div>

        <div class="form-group">
            <label for="Password">Password</label>
            <input type="text" id="Password" name="Password">
        </div>

        <button type="submit">Submit</button>
        <a href="/users">User View</a>

    </form>
</div>
